.hero {
  min-height: 100vh;
  padding: 80px 60px;
  background: #f4ede6;
  overflow: hidden;
}

.heroContainer {
  max-width: 1472px;
  margin: 4% auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 120px;
}

.heroLabel {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #9a7aa6;
  margin-bottom: 40px;
  font-weight: 600;
}

.heroTitle {
  font-size: 68px;
  line-height: 0.95;
  font-weight: 600;
  color: #2d1f18;
  max-width: 620px;
}

.heroDescription {
  margin-top: 40px;
  font-size: 22px;
  line-height: 1.7;
  color: #7d6f67;
  max-width: 580px;
}

.heroButtons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.primaryBtn {
  padding: 18px 34px;
  border: none;
  border-radius: 14px;
  background: #8d6a96;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 10px 30px rgba(141, 106, 150, 0.25);

  &:hover {
    background: #7c5b84;
    transform: translateY(-2px);
  }
}

.secondaryBtn {
  padding: 18px 34px;
  border-radius: 14px;
  border: 1px solid #8d6a96;
  background: transparent;
  color: #8d6a96;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #8d6a96;
    color: white;
  }
}

.heroRight {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: flex-start;
}

.heroColumn {
  display: flex;
}

.heroColumn {
  display: flex;
  flex-direction: column;
  gap: 28px;

  &.left {
    margin-top: -40px;
  }

  &.right {
    margin-top: 40px;
  }
}

.card {
  width: 320px;
  border-radius: 24px;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.08),
    0 10px 20px rgba(0, 0, 0, 0.04);
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-6px);
  }
}

.card1 {
  height: 430px;

  @media (max-width: 768px) {
    height: 380px;
  }
}

.card2 {
  height: 320px;
}

.card3 {
  height: 360px;
}

.card4 {
  height: 430px;
}

.placeholder {
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
