img {
  max-width: 100%;
}

.header {
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.headerContainer {
  margin: 0 auto;
  width: 1472px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1472px;
  font-weight: 500;
  font-size: 18px;
}

.logo {
  color: #58290e;
  font-weight: 800;
  font-size: 24px;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  padding: 10px;
}

.navLink {
  color: #58290e;
  text-decoration: none;

  &:hover {
    color: #745647;
  }

  &:active {
    color: silver;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.cartWrapper {
  position: relative;
}

.cartIcon {
  cursor: pointer;
  transition: opacity 0.2s;
  display: block;

  &:hover {
    opacity: 0.7;
  }
}

.cartDropdownContainer {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);  
  z-index: 1001;
  white-space: nowrap;
}

.cartIcon {
  cursor: pointer;
  transition: opacity 0.2s;
  display: block;

  &:hover {
    opacity: 0.7;
  }
}