@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*{
    font-family: 'Manrope', Courier, monospace;
}


body {
  padding-top: 80px;
  background-color: #f0e7dd;
}
